@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app" ng-view></div>

@Scripts.Render("~/bundles/angular")
<script src="/Scripts/angular-route.js"></script>
<script src="/Scripts/app/modules/battlefield.module.js"></script>
<script src="/Scripts/app/controllers/battlefield.controller.js"></script>
<script src="/Scripts/app/modules/setupDrone.module.js"></script>
<script src="/Scripts/app/modules/droneResult.module.js"></script>
<script src="/Scripts/app/modules/drone.service.module.js"></script>
<script src="/Scripts/app/services/drone.service.js"></script>
<script src="/Scripts/app/app.js"></script>